<h2>ORDER HISTORY</h2>


{{#each model as |order|}}
Order {{order.id}}
<ul>
  {{#if order.shippingAddress}}
  <li>Shipping Address: {{order.shippingAddress}}</li>
  {{/if}}
  {{#if order.billingAddress}}
  <li>Billing Address: {{order.billingAddress}}</li>
  {{/if}}
  <li>Order total: ${{order.total}}</li>
  <li>Completed? {{order.paid}}</li>
</ul>
{{/each}}

{{#link-to 'shop'}}Back{{/link-to}}
